    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #f4f4f9;
        line-height: 1.6;
      }
    
      header {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        text-align: center;
      }
      #image {
        display: block;
        max-width: 200px;
        margin: 20px auto;
        border-radius: 50%;
        border: 2px solid #4CAF50;
      }
    
      main {
        padding: 20px;
      }

      section {
        margin-bottom: 30px;
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 8px;
      }

      .education-list, .skills-list, .hobbies-list {
        list-style-type: square;
        padding-left: 20px;
      }

      #contact-form {
        display: flex;
        flex-direction: column;
      }

      #contact-form label {
        margin-bottom: 5px;
        font-weight: bold;
      }
      #contact-form input, #contact-form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      #contact-form button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      #contact-form button:hover {
        background-color: #45a049;
      }

      footer {
        
        padding: 10px;
        background-color: #898484;
        color: white;
        margin-top: 20px;
      }
    
  #social-media{
    text-align: center;
  }      

  .link{
    margin-left: 315px;
  }